@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elderson</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicons -->
    <link href="~/images/favicon.png" rel="icon">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
          rel="stylesheet" />

    @{ if (ViewData["Title"] == "Chat page")
        {
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"> } }
</head>
<body>
    <!-- ======= Header ======= -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid justify-content-between">
            <!-- Left elements -->
            <div class="d-flex">
                <!-- Brand -->
                <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="~/">
                    <img src="https://png.pngtree.com/png-clipart/20200709/original/pngtree-e-logo-png-image_3611500.jpg"
                         height="50"
                         loading="lazy"
                         style="margin-top: 2px;" />
                </a>

                <!-- Search form -->
                <div class="input-group w-auto my-auto d-none d-sm-flex">
                    <input autocomplete="off"
                           id="diseaseSearch"
                           type="search"
                           class="form-control rounded"
                           placeholder="Search"
                           style="min-width: 125px;" />
                    <span class="input-group-text border-0 d-none d-lg-flex">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <!-- Left elements -->
            <!-- Center elements -->
            <ul class="navbar-nav flex-row d-none d-md-flex justify-content-center">
                <li class="nav-item me-3 me-lg-1" id="navItem1">
                    <div>
                        <a class="nav-link" href="~/">
                            <h5>Home</h5>
                        </a>
                    </div>
                </li>

                <li class="nav-item me-3 me-lg-1" id="navItem2">
                    <div>
                        <a class="nav-link" href="~/Elderly/Clinic">
                            <h5>Book</h5>
                        </a>
                    </div>
                </li>
                @{ if (Context.Session.GetString("LoginUser") != null)
                    {
                        if (Context.Session.GetString("LoginUserType") == "Patient")
                        {
        <li class="nav-item me-3 me-lg-1" id="navItem3">
            <div>
                <a class="nav-link" href="~/Elderly/Appointments">
                    <h5>My Appointments</h5>
                </a>
            </div>
        </li>
 }
}
else
{
<li class="nav-item me-3 me-lg-1" id="navItem3">
    <div>
        <a class="nav-link disabled" href="~/Elderly/Appointments">
            <h5>My Appointments</h5>
        </a>
    </div>
</li>
 } }
                <li class="nav-item me-3 me-lg-1" id="navItem4">
                    <div>
                        <a class="nav-link" href="~/Elderly/FAQ">
                            <h5>FAQ</h5>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- Center elements -->
            <!-- Right elements -->
            @{ if (Context.Session.GetString("LoginUser") != null)
                {
                    if (Context.Session.GetString("LoginUserType") == "Patient")
                    {
    <ul class="navbar-nav flex-row" style="margin-left:175px;">
        <li class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link" href="~/Elderly/Cart">
                <h5><i class="fas fa-shopping-cart" id="navItemCart"></i></h5>
            </a>
        </li>
        <li class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link dropdown-toggle hidden-arrow"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <i class="fas fa-bell fa-lg"></i>
                <span class="badge rounded-pill badge-notification bg-danger">12</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#">Some news</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Another news</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link dropdown-toggle hidden-arrow"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <i class="fas fa-chevron-circle-down fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" asp-page="Profile">Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-page="~/Elderly/BookingHistory">Booking History</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-page="~/Elderly/MedicalHistory">Medical History</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Prescription</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Help & Support</a>
                </li>
                <li>
                    <a class="dropdown-item" onclick='signout()'>Log Out</a>
                </li>
            </ul>
        </li>
    </ul> }
}
else
{
<div class="d-flex align-items-center">
    <a href="~/Login" class="btn btn-link px-3 me-2">
        Login
    </a>
    <a href="~/Register" class="btn btn-primary me-3">
        Sign up for free
    </a>
</div> } }
            <!-- Right elements -->
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Navbar -->
    <main id="main">
        @RenderBody()
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" style="margin-top:100px;">
        <div class="footer-top" style="background-color:#F4F3FF">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Elderson @Context.Session.GetString("LoginUserType")</h3>
                        <p>
                            Elderson Pte Ltd
                            <strong>Contact:</strong> elderson@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Book</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Search</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Support</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Help & Support</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ Page</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Enterprise Login</h4>
                        <a asp-page="OrganizationLogin" class="btn btn-primary btn-lg" style="width:125px;">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <script>
        function signout() {
            console.log("signing out...")
            $.ajax({
                url: 'https://localhost:44311/api/User/Signout',
                type: 'GET',
                success: function (result) {
                    console.log("sign out successfully")
                    window.location.href = "/Signout";

                }
            });
        }
    </script>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Vendor JS Files -->
    <script src="~/lib/purecounter/purecounter.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    <script>
        $("#diseaseSearch").on("keypress", function (e) {
            if (e.which == 13) {
                window.location.replace(`/Disease?search=${encodeURIComponent($("#diseaseSearch").val())}`)
            }
        })
    </script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>
