@page
@model Elderson.Pages.ISR.Incidents.CreateModel
@{
    Layout = "Shared/_LayoutOrganization";
    ViewData["Title"] = "Create incident documentation page";
    ViewData["Header"] = "CREATE DOCUMENT";
    ViewData["Breadcrumb"] = "Incident Management > Incidents";
}

<style>
    .btn-group, .dropdown-menu {
        width:100%;
    }

    .form-control {
        background-color:white;
    }
</style>

<div class="row">
    <form class="forms-sample incidentForm" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incident Information</h4>
                        <hr />
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="exampleInputEmail3">Title:</label>

                            </div>
                            <div style="width:80%;">
                                <input asp-for="newIncident.Title" type="text" class="form-control" id="exampleInputEmail3">
                                <span asp-validation-for="newIncident.Title" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="password">Description:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="newIncident.Description" rows="6" class="form-control" id="body"></textarea>
                                <span asp-validation-for="newIncident.Description" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Reason:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="newIncident.Reason" rows="6" class="form-control" id="body"></textarea>
                                <span asp-validation-for="newIncident.Reason" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Recommendation:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="newIncident.Recommendation" rows="6" class="form-control" id="body"></textarea>
                                <span asp-validation-for="newIncident.Recommendation" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%; padding:10px 0;">
                                <label for="category">Category:</label>

                            </div>
                            <div style="width:80%;">
                                    @Html.DropDownList("Select", new SelectList(Enum.GetValues(typeof(Models.CategoryType))), null, new { @class = "form-control multiple-checkboxes", @id = "multiple-checkboxes", @multiple = "multiple" })
                                <input asp-for="newIncident.Category" type="hidden" id="category"/>
                                <span asp-validation-for="newIncident.Category" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group  d-flex">
                            <div style="width:20%;">
                                <label>Level</label>

                            </div>
                            <div style="width:80%;">
                                @Html.DropDownList("newIncident.Level", new SelectList(Enum.GetValues(typeof(Models.LevelType))), "--Select an level--", new { @class = "form-control", @id = "levelType" })
                                <span asp-validation-for="newIncident.Level" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary me-2">Cancel</button>

                <button type="button" class="btn btn-primary me-2 submit">Submit</button>

            </div>

        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#multiple-checkboxes').multiselect();
    });

    $(".submit").on("click", function () {
        $("#category").val($(".multiselect-selected-text").text().replace(" ", ""));

        $(".incidentForm").submit();
    });
</script>