@page
@model Elderson.Pages.ISR.Incidents.EditModel
@{
    Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "Edit Incident page";
    ViewData["Header"] = "EDIT INCIDENT";
    ViewData["Breadcrumb"] = "Incident Management > Incidents";
}

<style>
</style>

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incident Information</h4>
                        <hr />
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="exampleInputEmail3">Title:</label>

                            </div>
                            <div style="width:80%;">
                                <input type="text" value="Accidental deletion" class="form-control" id="exampleInputEmail3">
                                <span class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="password">Description:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea rows="6" class="form-control" id="body">He tried to login on 01 December 2021, but it wasn’t successful. So he contact IT Support through website chat. I check with him and the logs, find out that the account was deleted.
                                </textarea>
                                <span class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Reason:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea rows="6" class="form-control" id="body">Someone gains access to his account and delete the account.
                                </textarea>
                                <span class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Recommendation:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea rows="6" class="form-control" id="body">If user wants to delete, he or she needs to enter password again to delete.
                                </textarea>
                                <span class="text-danger"></span>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary me-2">Cancel</button>

                <button type="submit" class="btn btn-primary me-2">Submit</button>

            </div>

        </div>
    </form>
</div>