
obj/Debug/netcoreapp3.1/Elderson.assets.cache
obj/Debug/netcoreapp3.1/Elderson.GeneratedMSBuildEditorConfig.editorconfig
obj/Elderson.csproj.nuget.dgspec.json
obj/Elderson.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutPharmacist.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutITSupport.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutDoctor.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutAdmin.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Elderson.Views.pdb
obj/Debug/netcoreapp3.1/Elderson.Views.dll
obj/Debug/netcoreapp3.1/Elderson.pdb
obj/Debug/netcoreapp3.1/Elderson.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Elderson.dll
obj/Debug/netcoreapp3.1/Elderson.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/apphost.exe
bin/Debug/netcoreapp3.1/Elderson.Views.pdb
bin/Debug/netcoreapp3.1/Elderson.Views.dll
bin/Debug/netcoreapp3.1/Elderson.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Elderson.pdb
bin/Debug/netcoreapp3.1/Elderson.exe
bin/Debug/netcoreapp3.1/Elderson.dll
.vs/Elderson/v16/.suo
.vs/Elderson/config/applicationhost.config
.vs/Elderson/config/applicationhost.config
.vs/Elderson/v16/.suo
bin/Debug/netcoreapp3.1/Elderson.dll
bin/Debug/netcoreapp3.1/Elderson.exe
bin/Debug/netcoreapp3.1/Elderson.pdb
bin/Debug/netcoreapp3.1/Elderson.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Elderson.Views.dll
bin/Debug/netcoreapp3.1/Elderson.Views.pdb
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/Elderson.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Elderson.dll
obj/Debug/netcoreapp3.1/Elderson.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Elderson.pdb
obj/Debug/netcoreapp3.1/Elderson.Views.dll
obj/Debug/netcoreapp3.1/Elderson.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutAdmin.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutDoctor.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutITSupport.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LayoutPharmacist.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
bin/Debug/netcoreapp3.1/Elderson.Views.pdb
bin/Debug/netcoreapp3.1/Elderson.Views.dll
bin/Debug/netcoreapp3.1/Elderson.pdb
bin/Debug/netcoreapp3.1/Elderson.dll
