@page
@model Elderson.Pages.Organization.ChangePwdModel
@{
    Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "Change Password page";
    ViewData["Header"] = "CHANGE PASSWORD";
    ViewData["Breadcrumb"] = "Profile > Change Password";
}

<div class="row">
    <form class="forms-sample" method="post">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Password</h4>
                        <hr />
                        <h5>In order to protect your account, make sure your password:</h5>
                        <div style="margin-left:50px; margin-bottom:50px;">
                            <ul>
                                <li>Is longer than 8 characters</li>
                                <li>Have at least one A-Z character</li>
                                <li>Have at least one a-z character</li>
                                <li>Have at least one 0-9 character</li>
                                <li>have at least one special character</li>
                            </ul>
                        </div>
                        <div class="form-group d-flex">
                            <div style="width:50%;">
                                <label for="exampleInputPassword4">Current Password:</label>
                            </div>
                            <div style="width:50%;">
                                <input asp-for="currentPwd" type="password" class="form-control" id="exampleInputPassword4">
                                <span asp-validation-for="currentPwd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div style="width:50%;">
                                <label for="exampleInputPassword4">New Password:</label>
                            </div>
                            <div style="width:50%;">
                                <input asp-for="viewModel.newPwd" type="password" class="form-control" id="exampleInputPassword4">
                                <span asp-validation-for="viewModel.newPwd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div style="width:50%;">
                                <label for="exampleInputPassword4">Confirm New Password:</label>
                            </div>
                            <div style="width:50%;">
                                <input asp-for="viewModel.confirmPwd" type="password" class="form-control" id="exampleInputPassword4">
                                <span asp-validation-for="viewModel.confirmPwd" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <span style="color:red;">@Model.ErrorMsg</span>
                    </div>
                </div>
            </div>



        </div>
        <div class="d-flex justify-content-between">
            <button type="button" onclick="history.back()" class="btn btn-primary me-2">Cancel</button>
            <button type="submit" class="btn btn-primary me-2">Submit</button>

        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
