@page
@model Elderson.PatientDetailsModel
@{
    ViewData["Title"] = "PatientDetails";
    Layout = "Shared/_LayoutOrganization";
    ViewData["Header"] = "Patient Details";
    ViewData["Breadcrumb"] = "Patients > Patient Details";
}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



<div class="table-responsive">
    <button class="btn btn-primary btn-l text-white mb-0 me-0" type="button" style="float:right" id="add-entry" onclick="addEntry()"><i class="mdi mdi-account-plus"></i>Add new Entry</a> </button>
</div>
<div id="counter" class="mb-2"></div>

<div class="center"></div>
<div id="entries" style="display: none; margin-bottom: 10px;">
    <form method="post" id="form">
        <div class="card">
            <div class="card-header">Entry<button class="delete-cross" onclick="cancelEntry()">x</button></div>
            <div class="card-body">
                <input placeholder="Title" asp-for="NewEntry.Title">
                <textarea placeholder="Description" rows="4" asp-for="NewEntry.DetailsofVisit"></textarea>
                <button class="submit-btn" type="submit">Submit Entry</button>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        console.log("Loading webpage..." + 'https://localhost:44311/api/PatientDetails/GetDetails/'+'@(Model.Id)');
        $.ajax({
            url: 'https://localhost:44311/api/PatientDetails/GetDetails/'+'@(Model.Id)',
            type: 'GET',
            success: function (result) {
                console.log("Items retrieve successfully")
                console.log(JSON.parse(result));

            }
        });
        $('#detailstable').DataTable(
            {
                "ajax": {
                    'url': 'https://localhost:44311/api/PatientDetails/GetDetails/'+'@(Model.Id)',
                    'type': 'GET',
                    "dataSrc": function (json) {
                        return JSON.parse(JSON.stringify(json));
                    }
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "DetailsofVisit" },
                    {
                        "data": function (data, type, full) {
                            return `<div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id=${"dropdownMenuSplitButton" + data.Id} data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i style="font-size:1.5em;" class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby=${"dropdownMenuSplitButton" + data.Id}>
                                                <a class="dropdown-item" data-toggle="modal" data-target=${"#editBackdrop" + data.Id}>Edit</a>
                                                <a class="dropdown-item" data-toggle="modal" data-target=${"#staticBackdrop" + data.Id}>Delete</a>
                                                </div>
                                            </div>

<div class="modal fade" id=${"editBackdrop" + data.Id} data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <form id="editDetails" action="/PatientDetails?handler=EditDetails" method="post">
                                            <input type="hidden" name="Id" value="${data.Id}" />
                                            <div class="modal-body">
                                            <table style="text-align:center; width: 95%;">
                                                <td><input placeholder="Title" name="Title"></tr>
                                                <td><textarea placeholder="Description" rows="4" name="DetailsofVisit"></textarea></tr>
                                            </table>
                                                </div>
                                                <div class="d-flex justify-content-between" style="margin-top:30px;">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-update">Close</button>
                                                    <button style="height:44px;" type="button" class="btn btn-success" id="edit" onclick=${"editEntry()"}>Update</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

<div class="modal fade" id=${"staticBackdrop" + data.Id} data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="text-center">
                                                    <h4>
                                                        Are you sure you want to delete this detail?

                                                    </h4>
                                                </div>
                                                <div class="d-flex justify-content-between" style="margin-top:30px;">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                                                    <button style="height:44px;" type="button" onclick=${"deleteEntry(" + "'" + data.Id + "'" + ")"} class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                        }
                    }
                ],
                "info": true,
                "ordering": true,
                "search": true,
                "processing": true,
                'autoWidth': false,
                'lengthChange': false,
                'paging': true,
                'pagingType': 'numbers',
                'ordering': false,
                'dom': "fltip",
                'pageLength': 5
            }
        );
    });
</script>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="detailstable" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th style="width:20%;">Description</th>
                        <th style="width:175px;">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    //let count = 0;

    //const createCard = (index) => {
    //  const card = document.createElement("div")
    //  card.className = "card"
    //  const cardHeader = document.createElement("div")
    //  cardHeader.className = "card-header"
    //  const deleteBtn = document.createElement("button")
    //  deleteBtn.classList.add("delete-cross")
    //  deleteBtn.textContent = "x"

    //  cardHeader.innerText = `Entry ${index + 1}`
    //  cardHeader.appendChild(deleteBtn)
    //  const cardBody = document.createElement("div")
    //  cardBody.className = "card-body"

    //  const title = document.createElement("input")
    //  const desc = document.createElement("textarea")
    //  title.placeholder = "Title"
    //  desc.placeholder = "Description"
    //  desc.rows = "4"

    //  const submitBtn = document.createElement("button")
    //  submitBtn.classList.add("submit-btn")
    //  submitBtn.textContent = "Submit Entry"

    //  cardBody.appendChild(title)
    //  cardBody.appendChild(desc)
    //  cardBody.appendChild(submitBtn)
    //  card.append(cardHeader)
    //  card.appendChild(cardBody)
    //  return card
    //}

    //const addEvent = () => {
    //  const newCard = createCard(count)
    //  count++
    //  document.getElementById("counter").textContent = "Number of entries: " + count
    //  console.log(newCard)
    //  document.getElementById("entries").appendChild(newCard)
    //}

    //document.getElementById("add-entry").addEventListener("click", addEvent)

    //document.getElementById("counter").textContent = "Number of entries: " + count


    //function addEntry() {
    //    var html = '';

    //    html = `<form method="post" id="form">
    //                <div class="card" id="card">
    //                    <div class="card-header">Entry<button class="delete-cross" onclick="cancelEntry()">x</button></div>
    //                        <div class="card-body">
    //                            <input placeholder="Title" asp-for="NewEntry.Title">
    //                            <textarea placeholder="Description" rows="4" asp-for="NewEntry.DetailsofVisit"></textarea>
    //                            <button class="submit-btn" type="submit">Submit Entry</button>
    //                </div>
    //            </form>`;
    //    document.getElementById("entries").innerHTML += html;
    //}

    function cancelEntry() {
        //var element = document.getElementById("form")
        //element.parentNode.removeChild(element);
        document.getElementById("entries").style.display = "none";
    }
    function addEntry() {
        document.getElementById("entries").style.display = "block";
    }
    function deleteEntry(patientdetailsId) {
        console.log("works")
        $.ajax({
            url: 'https://localhost:44311/api/PatientDetails/' + patientdetailsId,
            type: 'DELETE',
            success: function (result) {
                console.log("Item delete successfully")
                $('#detailstable').DataTable().ajax.reload();
                $('.fade').hide();
            }
        });
    }
    //function editEntry(patientdetailsId) {
    //    $.ajax({
    //        method: "PUT",
    //        data: $("editDetails").serialize(),
    //        url: 'https://localhost:44311/api/PatientDetails/' + patientdetailsId,
    //        success: function (result) {
    //            console.log("Item edited successfully")
    //            $('#detailstable').DataTable().ajax.reload();
    //        }
    //    })
    //}
       function editEntry() {
        console.log("Submitting form...")
        console.log($("#editDetails").serialize());
        $.ajax({
            type: "POST",
            url: "https://localhost:44311/api/PatientDetails",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: $('#editDetails').serialize(),
            success: function (response) {
                if (response == "Success")
                    window.location.href = "PatientList";
                else {
                    console.log("");
                }
            },
            error: function (e) {
                alert(e.responseText);
            }
        });
    };


</script>

<style>

    .center {
        width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .input-text {
        font-size: large;
    }

    .primary {
        border-color: rgb(36, 161, 156);
    }

    .delete-cross {
        background: none;
        border: none;
        font-size: 16px;
        color: red;
        float: right;
    }

    .submit-btn {
        background-color: #17e8af;
        margin-top: 8px;
        width: 15%;
        height: 20%;
        border-radius: 5px;
        float: right;
    }

    .blank {
        background: none;
    }

    /*.card {
        background-color: rgb(250, 238, 231) !important;
        border-color: rgb(50, 82, 136) !important;
        margin: 20px 12px !important;
    }*/

    input {
        width: 90%;
        margin-bottom: 16px !important;
    }

    textarea {
        width: 90%;
    }

    #counter {
        font-size: 36px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .dropdown-toggle::after {
        display: none;
    }
    #close-update{
        background-color: red;
    }
</style>
