@page
@model Elderson.PatientListModel
@{
    ViewData["Title"] = "Queries";
    Layout = "Shared/_LayoutAdmin";
    ViewData["Header"] = "Queries";
    ViewData["Breadcrumb"] = "Queries";
}



<style>
    a {
        color: white;
        text-decoration: none;
    }

    .dropdown-toggle::after {
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("Loading webpage...")
        $.ajax({
            url: 'https://localhost:44311/api/User',
            type: 'GET',
            success: function (result) {
                console.log("Items retrieve successfully")
                console.log(JSON.parse(result));

            }
        });
        $('#userstable').DataTable(
            {
                "ajax": {
                    'url': 'https://localhost:44311/api/User',
                    'type': 'GET',
                    "dataSrc": function (json) {
                        return JSON.parse(JSON.stringify(json));
                    }
                },
                "columns": [
                    { "data": "Fullname" },
                    { "data": "Phone" },
                    {
                        "data": function (data, type, full) {
                            return `<div class="btn-group">
                                            <button type="button" style="height: 35px;" class="btn btn-primary btn-l text-white mb-0 me-0" ><a href="/Administrator/Queries?id=${data.Id}">Reply</a></button>
                                            </div>`;
                            }
                        }
                    ],
                    "info": true,
                    "ordering": true,
                    "search": true,
                    "processing": true,
                    'autoWidth': false,
                    'lengthChange': false,
                    'paging': true,
                    'pagingType':'numbers',
                    'ordering': false,
                    'dom': "fltip",
                    'pageLength': 5
                }
            );
        });
</script>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
            <h4 class="card-title">All User Table</h4>
        </div>
        <div class="table-responsive">

            <table class="table table-hover" id="userstable" style="width:100%">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th style="width:20%;">Topic</th>
                        <th style="width:175px;">ACTION</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>

