@page
@model Elderson.Pages.Users.CreateUserModel
@{
    Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "Create user page";
}

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login Information</h4>
                        <hr />
                        <div class="form-group">
                            <label for="exampleInputEmail3">Email address</label>
                            <input asp-for="newUser.Email" type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                            <span asp-validation-for="newUser.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Password</label>
                            <input asp-for="newUser.Password" type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                            <span asp-validation-for="newUser.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Confirm Password</label>
                            <input asp-for="confirmPwd" type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                            <span asp-validation-for="confirmPwd" class="text-danger"></span>
                        </div>


                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Other Information</h4>
                        <hr />
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            <input asp-for="newUser.Fullname" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                            <span asp-validation-for="newUser.Fullname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Birth Date</label>
                            <input asp-for="newUser.Birthdate" type="date" class="form-control" id="exampleInputEmail3" placeholder="Email">
                            <span asp-validation-for="newUser.Birthdate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Phone</label>
                            <input asp-for="newUser.Phone" type="number" class="form-control" id="exampleInputPhone" placeholder="Phone">
                            <span asp-validation-for="newUser.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectGender">Gender</label>
                            @*<select class="form-control" id="exampleSelectGender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>*@
                            @Html.RadioButton("newUser.Gender", "M") <span>Male</span>
                            @Html.RadioButton("newUser.Gender", "F") <span>Female</span>
                            <span asp-validation-for="newUser.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Select User Type</label>
                            @*<select class="js-example-basic-single w-100">
                                <option value="Patient">Patient</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Administator">Administrator</option>
                                <option value="IT Support">IT Support</option>
                                <option value="Pharmacist">Pharmacist</option>
                            </select>*@
                            @Html.DropDownList("newUser.UserType", new SelectList(Enum.GetValues(typeof(Models.UserType))), "--Select an option--")
                            <span asp-validation-for="newUser.UserType" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label for="exampleInputBirthDate">Birth Date</label>
                            <input asp-for="newUser.BirthDate" type="number" class="form-control" id="exampleInputBirthDate" placeholder="Birth Date">
                            <span asp-validation-for="newUser.BirthDate" class="text-danger"></span>
                        </div>*@



                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
