@page
@model Elderson.Pages.Users.UserManagementModel
@{
    Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "User management page";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">All User Table</h4>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.allusers)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.UserType</td>
                            <td class="text-danger"><label class="badge badge-danger">Locked</label></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary"><a asp-page="Profile" asp-route-id="@item.Id">View</a> </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <a class="dropdown-item" href="/Users/EditUser/@item.Id">Edit</a>
                                        <a class="dropdown-item" href="/Users/LockUser/@item.Id">Lock</a>
                                        <a class="dropdown-item" href="/Users/ChangePwd/@item.Id">Change password</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                        <tr>
                            <td>Jacob</td>
                            <td>Patient</td>
                            <td><label class="badge badge-warning">Pending Verification</label></td>
                            <td class="text-danger">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1" style="">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Lock</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Patient</td>
                            <td><label class="badge badge-danger">Locked</label></td>
                            <td class="text-danger">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1" style="">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Lock</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Patient</td>
                            <td><label class="badge badge-danger">Locked</label></td>
                            <td class="text-danger">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1" style="">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Lock</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Patient</td>
                            <td><label class="badge badge-danger">Locked</label></td>
                            <td class="text-danger">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1" style="">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Lock</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>