@page
@model Elderson.Pages.Pharmacist.Inventory.CreateInventoryModel
@{
    Layout = "Shared/_LayoutOrganization";
    ViewData["Title"] = "Create Inventory Listing Page";
    ViewData["Header"] = "CREATE MEDICATION";
    ViewData["Breadcrumb"] = "Inventory > Create";
}

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incident Information</h4>
                        <hr />
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="name">Medication Name:</label>

                            </div>
                            <div style="width:40%;">
                                <input asp-for="newMedication.MedName" type="text" class="form-control" id="name">
                                <span asp-validation-for="newMedication.MedName" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="abbr">Medication Abbreviation:</label>

                            </div>
                            <div style="width:10%;">
                                <input asp-for="newMedication.MedAbbreviation" type="text" class="form-control" id="abbr">
                                <span asp-validation-for="newMedication.MedAbbreviation" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="medType">Medication Type:</label>

                            </div>
                            <div style="width:20%;">
                                @Html.DropDownList("newMedication.MedType", new SelectList(Enum.GetValues(typeof(Models.MedTypes))), "--Select an option--", new { @class = "form-control medType", @id = "medType" })
                                <span asp-validation-for="newMedication.MedType" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="price">Medication Price:</label>

                            </div>
                            <div style="width:20%;">
                                <input asp-for="newInventory.Price" type="number" class="form-control" id="price">
                                <span asp-validation-for="newInventory.Price" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="currAmt">Current Amount:</label>

                            </div>
                            <div style="width:10%;">
                                <input asp-for="newInventory.CurrentAmt" type="number" class="form-control" id="currAmt">
                                <span asp-validation-for="newInventory.CurrentAmt" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="minAmt">Minimum Amount:</label>

                            </div>
                            <div style="width:10%;">
                                <input asp-for="newInventory.MinimumAmt" type="number" class="form-control" id="minAmt">
                                <span asp-validation-for="newInventory.MinimumAmt" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="minAmt">Allergy Ingredients</label>

                            </div>
                            <div style="width:10%;">
                                <input asp-for="newMedication.MedAllergyIngredients" type="text" class="form-control" id="minAmt">
                                <span asp-validation-for="newMedication.MedAllergyIngredients" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="descript">Medication Description:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="newMedication.MedDescription" rows="6" class="form-control" id="descript"></textarea>
                                <span asp-validation-for="newMedication.MedDescription" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="supAbbr">Medical Supplier Abbreviation:</label>

                            </div>
                            <div style="width:20%;">
                                @Html.DropDownList("newMedication.MedSupplierAbb", Model.abbreviations as List<SelectListItem>, "--Select Supplier--", new { @class = "form-control" })
                                <span asp-validation-for="newMedication.MedSupplierAbb" class="text-danger"></span>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary me-2" onClick="history.go(-1); return false;">Cancel</button>

                <button type="submit" class="btn btn-primary me-2">Submit</button>

            </div>

        </div>
    </form>
</div>
