@page
@model Elderson.Pages.Pharmacist.Inventory.InventoryListModel
@{
    Layout = "Shared/_LayoutPharmacist";
    ViewData["Title"] = "Inventory List Page";
    ViewData["Header"] = "INVENTORY";
    ViewData["Breadcrumb"] = "Inventory";
}

<body>
    <div class="row">
        <form class="form-inline" style="margin-bottom: 10px; float:right;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Medications" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                </div>
                <div class="table-responsive">
                    <table class="display table table-hover" id="userstable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Current Amt</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>




