@page
@model Elderson.Pages.Elderly.AddMedicalHistoryModel
@{
}
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Booking History</li>
    </ol>
    <h3>Add Medical History</h3>
</nav>