@page
@model Elderson.Pages.Elderly.AppointmentModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Clinic</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Join Call</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Healthwerkz Medical Centre</td>
            <td>3rd December 2021</td>
            <td>11:30 am - 12:00 pm</td>
            <td><a href="#" class="btn btn-primary">Join Call</a></td>
        </tr>
    </tbody>
</table>