@page
@model Elderson.Pages.Elderly.AppointmentModel
@{
}
<link rel="stylesheet" href="~/css/bookingStyle.css" />
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
    </ol>
    <h3>Appointments</h3>
</nav>
<div class="container">
    <div class="tableStyle">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Clinic</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Join Call</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Healthwerkz Medical Centre</td>
                    <td>3rd December 2021</td>
                    <td>11:30 am - 12:00 pm</td>
                    <td><a href="#" class="btn btn-primary">Join Call</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
