@page
@model Elderson.Pages.CartModel
@{
}
<div style="margin:100px;"></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tr>
            @if (Model.myCart != null)
            {
                @foreach (var item in Model.myCart)
                {
                    <td>
                        <div>@item.ItemName</div>
                        <div>@Convert.ToDateTime(item.BookDateTime).ToString("dd MMMM yyyy HH:mm tt")</div>
                        <div>Clinic: @item.Clinic</div>
                    </td>
                    <td>$@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>$@(item.Price * item.Quantity)</td>
                }
            }
        </tr>
        <tr>
            <td colspan="3">Total</td>
            <td>$@Model.myTotal</td>
        </tr>
    </table>
    <br />
    <form method="post">
        <div style="display:inline-flex"><button class="btn btn-primary" style="float:right">PROCEED TO PAYMENT</button></div>
    </form>
    <br />
</div>