@page
@model Elderson.Pages.CartModel
@{
}
<script>document.getElementById("navItemCart").classList.add("usingIcon")</script>
<div style="margin:100px;"></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th style="font-weight:bold; background-color:#F4F3FF;">Product</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Price</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Quantity</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            
                    @if (Model.myCart != null)
                    {
                        @foreach (var item in Model.myCart)
                        {<tr>
        <td>
            <h5>@item.ItemName</h5>
            <div>@Convert.ToDateTime(item.BookDateTime).ToString("dd MMMM yyyy HH:mm tt")</div>
            <div>Clinic: @item.Clinic</div>
        </td>
        <td>$@item.Price</td>
        <td>@item.Quantity</td>
        <td>$@(item.Price * item.Quantity)</td>
    </tr>
        }
        }

        </tbody>
        
    </table>
    <br />
    <form method="post">
        <div style="display:inline-flex"><button class="btn btn-primary" style="float:right">PROCEED TO PAYMENT</button></div>
    </form>
    <br />
</div>