@page
@model Elderson.Pages.CartModel
@{
}
<script>document.getElementById("navItemCart").classList.add("usingIcon")</script>
<div style="margin:100px;"></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th style="font-weight:bold; background-color:#F4F3FF;">Product</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Price</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Quantity</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Subtotal</th>
                <th style="font-weight:bold; background-color:#F4F3FF;">Remove</th>
            </tr>
        </thead>
        <tbody id="cartBody">
        </tbody>
    </table>
    <br />
    <div class="row" style="margin-top:100px;">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div>Subtotal <span style="float:right;" id="subTotal"></span></div>
            <div>Shipping fee <span style="float:right;">$0</span></div>
            <hr />
            <h3>TOTAL <span style="float:right;" id="total"></span></h3>
            <br />
            <form method="post">
                <div><button class="btn btn-primary btn-block" style="float:right">PROCEED TO PAYMENT</button></div>
            </form>
        </div>
    </div>
    <br />
</div>
<script>
    let cart;
    let total = 0;
    getCart();
    async function getCart() {
        var response = await fetch(`https://localhost:44311/api/Cart`)
        cart = await response.json();
        formatCart();
    }
    function formatCart() {
        total = 0;
        if (cart != null) {
            $("#cartBody").html("");
            for (i = 0; i < cart.length; i++) {
                obj = cart[i];
                total += (obj.Price * obj.Quantity)
                $("#cartBody").append(`
                <tr>
                    <td>
                        <h5>${obj.ItemName}</h5>
                        <div>${obj.BookDateTime}</div>
                        <div>Clinic: ${obj.Clinic}</div>
                    </td>
                    <td>$${obj.Price}</td>
                    <td>${obj.Quantity}</td>
                    <td>$${obj.Price * obj.Quantity}</td>
                    <td><button class="btn btn-danger" onclick="removeCartItem(${i})"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            `)
            }
            $("#subTotal").text(`$${total}`)
            $("#total").text(`$${total}`)
        }
        else {
            $("#cartBody").html(`
                <tr style="background: #FBFBFB; ">
                    <td colspan="5">
                        <div style="margin:100px; text-align:center;">
                            <h3><i class="fas fa-exclamation-triangle"></i> Your cart is empty</h3>
                        </div>
                    </td>
                </tr>
        `)
        }
    }
    async function removeCartItem(id) {
        await fetch(`https://localhost:44311/api/Cart/RemoveCartItem/` + id);
        getCart();
    }
</script>