@page
@model Elderson.Pages.ClinicModel
@{
}
<script>document.getElementById("navItem2").classList.add("using")</script>
<link rel="stylesheet" href="~/css/bookingStyle.css" />
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clinic</li>
    </ol>
    <h3>Clinic</h3>
</nav>
<div class="container">
    <div>
        <ol class="stepper">
            <li class="stepperItem"><div class="stepperItemDiv stepActive">1</div><div class="stepperDivText">Select Clinic</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">2</div><div class="stepperDivText">Select Doctor</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">3</div><div class="stepperDivText">Select Date & Time</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">4</div><div class="stepperDivText">Enter Symptoms</div></li>
        </ol>
    </div>
    <div class="input-group rounded" style="margin-bottom: 50px;">
        <input type="text" id="textSearch" value="" placeholder="Search by clinic name, location, ..." class="form-control rounded" />
        <span style="margin-left:10px;"><button class="btn btn-primary" id="btnSearch" style="background-color: #6C63FF;" type="button">SEARCH</button></span>
    </div>
    <div class="">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th colspan="5" style="font-weight:bold; background-color:#F4F3FF;">Clinic</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Phone</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Booking Hours</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;"></th>
                </tr>
            </thead>
            <tbody id="clinicBody">
            </tbody>
        </table>
        <div>
            <div>
                <ul class="pagination" id="paginator">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let clinics;
    let searchString = "";
    getClinic();
    async function getClinic() {
        var response = await fetch(`https://localhost:44311/api/Clinic/GetAll`)
        clinics = await response.json();
        formatClinicTable();
        formatPage();
        console.log(clinics);
    }
    async function getClinicSpecific(url) {
        if (url) {
            var response = await fetch(url)
            clinics = await response.json();
            formatClinicTable();
            formatPage();
            console.log(clinics);
        }
    }
    $("#btnSearch").click(function () {
        if ($("#textSearch").val() != null) {
            searchString = $("#textSearch").val();
        }
        else {
            searchString = ""
        }
        getClinicSpecific(`${clinics.firstPage}&searchFilter=${searchString}`);
    })
    function formatClinicTable() {
        $("#clinicBody").html("");
        for (var i = 0; i < clinics.data.length; i++){
            var obj = clinics.data[i];
            $("#clinicBody").append(`<tr>
                    <td colspan="5">
                        <div style="font-weight:bolder">${obj.name}</div>
                        <div>${obj.address}</div>
                    </td>
                    <td>+${obj.countryCode} ${obj.phone}</td>
                    <td>7:00 AM - 1:00PM</td>
                    <td style="text-align: right;"><a href="/Elderly/Doctor?clinic=${encodeURIComponent(obj.name)}" style="background-color: #6C63FF;" class="btn btn-primary">Select</a></td>`)
            $("#clinicBody").append("</tr>")
        }
    }
    function formatPage() {
        $("#paginator").html("");
        $("#paginator").append(`<li class="page-item "><button onclick="getClinicSpecific(${clinics.previousPage}&searchFilter=${searchString})" class="page-link"><span aria-hidden="true">&laquo;</span></button></li>`)
        for (var i = 0; i < clinics.totalPages; i++) {
            if (i + 1 == clinics.pageNumber) {
                $("#paginator").append(`<li class="page-item active"><button onclick="getClinicSpecific('https://localhost:44311/api/Clinic/GetAll?pageNumber=${i + 1}&pageSize=10&searchFilter=${searchString}')" class="page-link">${i + 1}</button></li>`)
            }
            else {
                $("#paginator").append(`<li class="page-item"><button class="page-link">${i + 1}</button></li>`)
            }
            
        }
        $("#paginator").append(`<li class="page-item"><button onclick="getClinicSpecific(${clinics.nextPage}&searchFilter=${searchString})" class="page-link"><span aria-hidden="true">&raquo;</span></button></li>`)
    }
</script>