@page
@model Elderson.Pages.ClinicModel
@{
}
<script>document.getElementById("navItem2").classList.add("using")</script>
<link rel="stylesheet" href="~/css/bookingStyle.css" />
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clinic</li>
    </ol>
    <h3>Clinic</h3>
</nav>
<div class="container">
    <div>
        <ol class="stepper">
            <li class="stepperItem"><div class="stepperItemDiv stepActive">1</div><div class="stepperDivText">Select Clinic</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">2</div><div class="stepperDivText">Select Doctor</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">3</div><div class="stepperDivText">Select Date & Time</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">4</div><div class="stepperDivText">Enter Symptoms</div></li>
        </ol>
    </div>
    <div class="input-group rounded" style="margin-bottom: 50px;">
        <input type="text" value="" placeholder="Search by clinic name, location, ..." class="form-control rounded" />
        <span style="margin-left:10px;"><button class="btn btn-primary" style="background-color: #6C63FF;" type="button">SEARCH</button></span>
    </div>
    <div class="">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th colspan="5" style="font-weight:bold; background-color:#F4F3FF;">Clinic</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Number of Doctors</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Phone</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Booking Hours</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;"></th>
                </tr>
            </thead>
            <tbody id="clinicBody">
                <tr>
                    <td colspan="5">
                        <div style="font-weight:bolder">Healthwerkz Medical Centre</div>
                        <div>240 River Valley Road, S23897</div>
                    </td>
                    <td>3</td>
                    <td>68366986</td>
                    <td>7:00 AM - 1:00PM</td>
                    <td style="text-align: right;"><a asp-page="/Elderly/Doctor" asp-route-clinic="Healthwerkz Medical Centre"  style="background-color: #6C63FF;" class="btn btn-primary">Select</a></td>
                </tr>
            </tbody>
        </table>
        <div>
            <div aria-label="Page navigation example" style="margin-left:auto;margin-right:auto;">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    let clinics;
    getClinic();
    async function getClinic() {
        var response = await fetch(`https://localhost:44311/api/Clinic/GetAll`)
        clinics = await response.json();
        formatClinicTable();
        console.log(clinics);
    }
    function formatClinicTable() {
        for (var i = 0; i < clinics.data.length; i++){
            var obj = clinics.data[i];
            $("#clinicBody").append(`<tr>
                    <td colspan="5">
                        <div style="font-weight:bolder">${obj.name}</div>
                        <div>${obj.address}</div>
                    </td>
                    <td>3</td>
                    <td>+${obj.countryCode} ${obj.phone}</td>
                    <td>7:00 AM - 1:00PM</td>
                    <td style="text-align: right;"><a href="/Elderly/Doctor?clinic=${encodeURIComponent(obj.name)}" style="background-color: #6C63FF;" class="btn btn-primary">Select</a></td>`)
            $("#clinicBody").append("</tr>")
        }
    }
</script>