@page
@model Elderson.Pages.ClinicModel
@{
}
<div style="margin:100px;"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clinic</li>
    </ol>
</nav>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Clinic</th>
                <th>Location</th>
                <th>Booking Hours</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Healthwerkz Medical Centre</td>
                <td>ANG MO KIO AVE 3</td>
                <td>7:00 AM - 1:00PM</td>
                <td><a asp-page="/Elderly/DateAndTime" asp-route-clinic="Healthwerkz Medical Centre" class="btn btn-primary">Book Appointment</a></td>
            </tr>
            <tr>
                <td>Healthwerkz Medical Centre</td>
                <td>ANG MO KIO AVE 3</td>
                <td>7:00 AM - 1:00PM</td>
                <td><button class="btn btn-primary">Book Appointment</button></td>
            </tr>
        </tbody>
    </table>
</div>
