@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "FAQ";
}

    <div style="text-align:center;">
        <button type="button" class="collapsible">Question</button>
        <div class="content">
            <p>Answer</p>
        </div>
    </div>

<style>
    .collapsible{
        border: none;
        outline: none;
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 75%;
        margin: 20px;
    }
    .content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>