@page
@model Elderson.FAQModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "FAQ";
}
<script>document.getElementById("navItem4").classList.add("using")</script>
<style>
    .accordion {
        background-color: #b0c4de;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
        font-weight: bold;
    }

        .active-a, .accordion:hover {
            background-color: #a1caf1;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active-a:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .container-accordian {
        width: 50%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .select {
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
    }

    .question {
        width: 90%;
        margin-bottom: 10px;
    }

    .container-form {
        width: 50%;
        margin: 0 auto;
        background-color: #b0c4de;
        padding-top: 25px;
        padding-bottom: 15px;
        border-radius: 8px;
    }

    .contact-us {
        padding-left: 60px;
    }
    p {margin-top: 10px;}
</style>
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
    </ol>
    <h3>FAQ</h3>
</nav>
<div class="container-accordian">
    <button class="accordion">How do i book an appointment?</button>
    <div class="panel">
        <p>In order to book an appointment, you have to first login into your account, click on "Book" on the navigation bar and select a location, timing, and the doctor that you prefer</p>
    </div>

    <button class="accordion">What are the types of payment method supported?</button>
    <div class="panel">
        <p>We accept online payment via all VISA and MasterCard debit / credit cards.</p>
    </div>

    <button class="accordion">What kinds of conditions are suitable for a video consultation?</button>
    <div class="panel">
        <p>- flu, cough, cold or sore throat</p>
        <p>- fever, or headache</p>
        <p>- diarrhoea, constipation or vomiting</p>
        <p>- rash, or cold sores</p>
        <p>- other non-emergent medical issues</p>
    </div>

    <button class="accordion">How do I reset my password?</button>
    <div class="panel">
        <p>You can can on the Forget Password link or contact the IT support for further assistance</p>
    </div>

    <button class="accordion">How are medications purchased?</button>
    <div class="panel">
        <p>They can be purchased after the medical consultation during check out</p>
    </div>
</div>


<h2 style="text-align: center; margin-top:5%;">Contact Us</h2>
<div class="container-form">
    <form method="post" class="contact-us">
        <div style="margin: 0 auto;">
            <select class="select" asp-for="newQuery.Topic">
                <option value="" disabled selected>Topic</option>
                <option value="Bookings">Bookings</option>
                <option value="Payment">Payment</option>
                <option value="Account">Account</option>
                <option value="Medication">Medication</option>
                <option value="Others">Others</option>
            </select>
        </div>

        <!-- Email input -->
        @*<div class="form-outline mb-4">
                <input id="form4Example2" class="form-control" asp-for="newQuery.Topic" />
                <label class="form-label" for="form4Example2">Topic</label>
            </div>*@

        <!-- Message input -->
        <div style="margin: 0 auto;">
            <textarea class="question" rows="4" asp-for="newQuery.Question" placeholder="Question"></textarea>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 90%;">Send</button>
    </form>
</div>



<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active-a");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "62053f46c0185d00077e316a";
    (function () {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
    window.BE_API = window.BE_API || {};
window.BE_API.onLoad = function () {
    window.BE_API.resetSession();
};
</script>
