@page
@model Elderson.Pages.Elderly.MedicalHistoryModel
@{
}
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Medical History</li>
    </ol>
    <h3>Booking History</h3>
</nav>
<div class="container">
    <div style="display:flex; justify-content:space-between;">
        <div style="display:flex; justify-content:flex-start">Share with us your medical history. It will help the doctors give a better diagnosis!</div>
        <div style="display:flex; justify-content:flex-end"><a asp-page="AddMedicalHistory" class="btn btn-primary">Add</a></div>
    </div>
    <br />
    <div>
        @foreach (var item in Model.myMedicalHistory)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.StartDate.ToString() - @item.StartDate.ToString()</h6>
                    <p class="card-text">@item.Description</p>
                    <a asp-page="" class="btn btn-danger card-link">Cancel</a>
                    <a asp-page="" class="btn btn-primary card-link">Button</a>
                </div>
            </div>
        }
    </div>
</div>