@page
@model Elderson.Pages.Elderly.MedicalHistoryModel
@{
}
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Booking History</li>
    </ol>
    <h3>Booking History</h3>
</nav>
<div class="container">
    <div style="display:flex; justify-content:space-between;">
        <div style="display:flex; justify-content:flex-start">Share with us your medical history. It will help the doctors give a better diagnosis!</div>
        <div style="display:flex; justify-content:flex-end"><button class="btn btn-primary">Add</button></div>
    </div>
    <br />
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary">Button</button>
            </div>
        </div>
    </div>
</div>