@page
@model Elderson.Pages.Elderly.NotificationsModel
@{
}
<link rel="stylesheet" href="~/css/bookingStyle.css" />
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Notifications</li>
    </ol>
    <h3>Notifications</h3>
</nav>

<div class="container">
    <div class="">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Notifications:</th>
                    <th style="font-weight:bold; background-color:#F4F3FF;">Date:</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.specificPrescriptionList != null)
                {
                    foreach (var p in Model.specificPrescriptionList)
                    {
                        
                        <tr>
                            <td>Your Prescription is on its way!</td>
                            <td>@Html.Raw(p)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>