@page
@model Elderson.Pages.Elderly.PrescriptionsModel
@{
}
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prescriptions</li>
    </ol>
    <h3>Prescriptions</h3>
</nav>
<h6>Prescriptions from "@Model.myPrescription.DoctorName"</h6>
<table class="table">
    <thead>
        <tr>
            <th style="font-weight:bold; background-color:#F4F3FF;">Medication</th>
            <th style="font-weight:bold; background-color:#F4F3FF;">Price</th>
            <th style="font-weight:bold; background-color:#F4F3FF;">Quantity</th>
            <th style="font-weight:bold; background-color:#F4F3FF;">Subtotal</th>
        </tr>
    </thead>
    <tbody id="prescriptionBody">
        @if (Model.cartMedicationList.Count != 0)
        {
            foreach (var item in Model.cartMedicationList)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@{(item.Price * item.Quantity).ToString();} </td>
                </tr>
            }
        }
    </tbody>
</table>
<h3 style="text-align:right;">$@Model.total</h3>
<br />
<button class="btn btn-primary">Add To Cart</button>