@page
@model Elderson.Pages.SymptomsModel
@{
}
<div style="margin:100px;"></div>
<div class="container">
    <!-- Button triggers collapse -->
    <a class="btn btn-primary"
       data-mdb-toggle="collapse"
       href="#collapseWithScrollbar"
       role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        Longer content
    </a>

    <!-- Collapsed content -->
    <div class="collapse mt-3 scroll-section" id="collapseWithScrollbar" style="max-width: 500px">

    </div>
    <br />
    <form method="post">
        <div class="form-group">
            <label for="">Enter a description of your symptoms:</label>
            <textarea asp-for="mySymptoms" class="form-control" rows="3"></textarea>
        </div>
        <div>
            <a asp-page="/Clinic" class="btn btn-primary" style="display:inline-block">Back</a>
            <button class="btn btn-primary justify-content-end" type="submit" style="display:inline-block">Add To Cart</button>
        </div>
    </form>
</div>
