@page
@model Elderson.AdminHomePageModel
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "Shared/_LayoutAdmin";
    ViewData["Header"] = "Admin"; 
    ViewData["Breadcrumb"] = "Dashboard";
}

    <body>
        <div class="card">

        </div>
    </body>