@page
@model Elderson.Pages.emailVerificationModel
@{ Layout = "Shared/_LayoutEmpty";
                ViewData["Title"] = "Email Verification page"; }

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*    .multisteps-form__progress {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }*/

    .stepCircle {
        height: 50px;
        width: 50px;
        background-color: lightgray;
        border-radius: 45px;
        margin-right: 20px;
        padding: 13px 20px;
        color: white;
    }

    .multisteps-form__progress {
        margin-top: 150px;
    }


        .multisteps-form__progress div {
            display: flex;
            justify-content: start;
            margin-bottom: 24px;
        }

        .multisteps-form__progress span {
            opacity: 40%;
            font-size: 0.8em;
        }

    .multisteps-form__progress-btn {
        border: none;
        background-color: transparent;
        outline: none !important;
        opacity: 60%;
        display: block;
    }

        .multisteps-form__progress-btn.js-active {
            color: yellowgreen;
        }

    .stepCircle.js-active {
        background-color: yellowgreen;
    }


    .multisteps-form__panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        max-width: 730px;
    }

        .multisteps-form__panel.js-active {
            height: auto;
            opacity: 1;
            visibility: visible;
        }

        .multisteps-form__panel[data-animation="scaleIn"] {
            transform: scale(0.9);
        }

            .multisteps-form__panel[data-animation="scaleIn"].js-active {
                transition-property: all;
                transition-duration: 0.2s;
                transition-timing-function: linear;
                transition-delay: 0s;
                transform: scale(1);
            }

    @@media (min-width: 500px) {
        .multisteps-form__progress-btn {
            text-indent: 0;
        }
    }

    img {
        margin-bottom:50px;
    }

    multisteps-form__progress-btn {
        cursor: default;
    }
</style>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0  d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-4">
                            <div class="row " style="margin-bottom:30px; margin-right:10px;">
                                <div class="card" style="height:700px;">
                                    <div class="card-body">
                                        <div class="multisteps-form__progress">
                                            <div>
                                                <div class="stepCircle js-active">1</div>
                                                <div class="d-block">
                                                    <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Login Information</button>
                                                    <span>Use email and password to login</span>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="stepCircle js-active">2</div>
                                                <div class="d-block">
                                                    <button class="multisteps-form__progress-btn js-active" type="button" title="Address">Personal Information</button>
                                                    <span>Information about you</span>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="stepCircle js-active">3</div>
                                                <div class="d-block">
                                                    <button class="multisteps-form__progress-btn js-active" type="button" title="Order Info">Email Verification</button>
                                                    <span>click on the button from the email</span>
                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card" style="height: 700px;">
                                <div class="card-body">
                                    <form class="pt-3 .#msform multisteps-form__form" method="post">
                                        <fieldset class="multisteps-form__panel p-4 rounded bg-white js-active" data-animation="scaleIn" style="margin-top:130px;">
                                            @*<h4>Card Details (Optional)</h4>
        <h6 class="fw-light">Set as your primary payment information</h6>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="CardName" placeholder="NAME ON CARD">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="CardNumber" placeholder="CARD NUMBER">
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group" style="width:48%;">
                <input type="text" class="form-control form-control-lg" id="ExpiryDate" placeholder="EXPIRY DATE">
            </div>
            <div class="form-group" style="width:48%;">
                <input type="text" class="form-control form-control-lg" id="SecurityCode" placeholder="SECURITY CODE">
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary me-2 js-btn-prev">Cancel</button>

            <button type="submit" class="btn btn-primary me-2">Submit</button>

        </div>*@
                                            <div>
                                                <img id="emailIcon" height="200" src="~/images/email-icon.png" alt="email img" />

                                            </div>
                                            <h4>Email Verification</h4>
                                            <h6 class="fw-light">A verification link has been sent to your email account</h6>
                                            <div class="form-group">
                                                Please click on the link that has just been sent to your email account to verify your email to be able to login
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>