@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Home page";
}
<script>document.getElementById("navItem1").classList.add("using")</script>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Virtual healthcare for you</h1>
        <h2>Elderson Provides progressive, and affordable healthcare, accessible online browsers, especially for the elderly!</h2>
        <a asp-page="/Elderly/Clinic" class="btn-get-started scrollto">Book Now!</a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Elderson?</h3>
                        <p>
                            Access a full suite of health and wellness services to look after every aspect of your healthcare needs. Receive healthcare in a conveneient and easy manner!
                        </p>
                        <div class="text-center">
                            <a href="~/Elderly/Clinic" class="more-btn">Book Now <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-message-square-detail"></i>
                                    <h4>Chat System</h4>
                                    <p>Get in touch with our highly qualified doctors!</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-book"></i>
                                    <h4>Simple Booking</h4>
                                    <p>Book for appointments with our simple booking system!</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-help-circle"></i>
                                    <h4>Help & Support</h4>
                                    <p>We provide a suite of tools to assist you if you do face trouble!</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>We provide the best choices for you. Adjust it to your health needs and make sure you get the best treatment with our highly qualified doctors you can consult with for what is suitable for your health.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4><a href="">Search Doctors</a></h4>
                        <p>Choose your doctor from hundreds of trusted clincis all throughout Singapore!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4><a href="">Online Pharmacy</a></h4>
                        <p>Purchase your prescribed medicines with a simple delivery system!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="">Online Consultation</a></h4>
                        <p>Simple consultations with trusted doctors and get the best prescriptions!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4><a href="">Easy Medical Certificate</a></h4>
                        <p>Get your medical certificate after your consultation in the View MC page!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-wheelchair"></i></div>
                        <h4><a href="">Convenient Care</a></h4>
                        <p>Book doctor appointments with our easy to use booking system to find your ideal booking time</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-notes-medical"></i></div>
                        <h4><a href="">Medical History</a></h4>
                        <p>Track and save your medical history and health data under our Medical History page!</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->