@page
@model Elderson.Pages.RegisterModel
@{
    Layout = "Shared/_LayoutEmpty";
    ViewData["Title"] = "Register page";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/*    .multisteps-form__progress {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }*/

    .stepCircle {
        height: 50px;
        width: 50px;
        background-color: lightgray;
        border-radius:45px;
        margin-right:20px;
        padding:13px 20px;
        color:white;
    }

    .multisteps-form__progress {
        margin-top:200px;
    }


    .multisteps-form__progress div {
        display: flex;
        justify-content: start;
        margin-bottom:24px;
    }

        .multisteps-form__progress span {
            opacity:40%;
            font-size:0.8em;
        }

    .multisteps-form__progress-btn {
        border: none;
        background-color: transparent;
        outline: none !important;
        opacity:60%;
        display:block;
    }

        .multisteps-form__progress-btn.js-active {
            color: yellowgreen;
        }

        .stepCircle.js-active {
            background-color: yellowgreen;
        }


    /*    .multisteps-form__progress-btn {
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        transition-delay: 0s;
        position: relative;
        padding-top: 20px;
        color: rgba(108, 117, 125, .7);
        text-indent: -9999px;
        border: none;
        background-color: transparent;
        outline: none !important;
        cursor: pointer;
        font-size:0.9em;
    }

    .multisteps-form__progress-btn:before {
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 13px;
        height: 13px;
        content: '';
        transform: translateX(-50%);
        transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
        border: 2px solid currentColor;
        border-radius: 50%;
        background-color: #fff;
        box-sizing: border-box;
        z-index: 3;
    }

    .multisteps-form__progress-btn:after {
        position: absolute;
        top: 5px;
        left: calc(-50% - 13px / 2);
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        transition-delay: 0s;
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background-color: currentColor;
        z-index: 3;
    }

    .multisteps-form__progress-btn:first-child:after {
        display: none;
    }

    .multisteps-form__progress-btn.js-active {
        color: #007bff;
    }

    .multisteps-form__progress-btn.js-active:before {
        transform: translateX(-50%) scale(1.2);
        background-color: currentColor;
    }*/


    .multisteps-form__panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        max-width:730px;
    }

    .multisteps-form__panel.js-active {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    .multisteps-form__panel[data-animation="scaleIn"] {
        transform: scale(0.9);
    }

    .multisteps-form__panel[data-animation="scaleIn"].js-active {
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0s;
        transform: scale(1);
    }

    @@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}
</style>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0  d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-4">
                            <div class="row " style="margin-bottom:30px; margin-right:10px;">
                                <div class="card"  style="height:700px;">
                                    <div class="card-body">
                                        <div class="multisteps-form__progress">
                                            <div>
                                                <div class="stepCircle js-active">1</div>
                                                <div class="d-block">
                                                    <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Login Information</button>
                                                    <span>Use email and password to login</span>
                                                </div>
                                                
                                            </div>
                                            <div>
                                                <div class="stepCircle">2</div>
                                                <div class="d-block">
                                                    <button class="multisteps-form__progress-btn" type="button" title="Address">Personal Information</button>
                                                    <span>Information about you</span>
                                                </div>
                                                
                                            </div> 
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card"  style="height: 700px;">
                                <div class="card-body">
                                    <form class="pt-3 .#msform multisteps-form__form" method="post">
                                        <input type="hidden" asp-for="newUser.UserType" value="Patient">
                                        <fieldset class="multisteps-form__panel p-4 rounded bg-white js-active" data-animation="scaleIn" style="margin-top:40px;">
                                            <h4>Register Page</h4>
                                            <h6 class="fw-light">Create an account</h6>

                                            <div class="form-group">
                                                <input type="text" asp-for="newUser.Fullname" class="form-control form-control-lg" id="Fullname" placeholder="FULL NAME">
                                                <span asp-validation-for="newUser.Fullname" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <input type="email" asp-for="newUser.Email" class="form-control form-control-lg" id="Email" placeholder="EMAIL">
                                                <span asp-validation-for="newUser.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" asp-for="viewModel.pwd" class="form-control form-control-lg" id="Password" placeholder="PASSWORD">
                                                <span asp-validation-for="viewModel.pwd" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" asp-for="viewModel.confirmPwd" class="form-control form-control-lg" id="ConPassword" placeholder="CONFIRM PASSWORD">
                                                <span asp-validation-for="viewModel.confirmPwd" class="text-danger"></span>
                                            </div>

                                            <span style="color:red;"></span>
                                            <div class="my-2 d-flex justify-content-between align-items-center">
                                                <div class="form-check">
                                                    <label class="form-check-label text-muted">
                                                        By signing up, you are creating a Elderson account, and you agree to Elderson's Terms of Use and Privacy Policy'
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn js-btn-next" type="button">Next</button>
                                            </div>

                                            <div class="text-center mt-4 fw-light">
                                                Already have an account? <a href="/Login" class="text-primary">Login here</a>
                                            </div>
                                            @*<hr />
                                            <div class="mb-2">
                                                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                                                    <i class="ti-facebook me-2"></i>Connect using facebook
                                                </button>
                                            </div>*@
                                        </fieldset>

                                        <fieldset class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                                            <h4>Personal Details</h4>
                                            <div class="form-group" style="width:48%;">
                                                <input type="date" asp-for="newUser.Birthdate" class="form-control form-control-lg" id="Birthdate" placeholder="BIRTH DATE">
                                                <span asp-validation-for="newUser.Birthdate" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="form-group" style="width:20%;">
                                                    <input type="text" class="form-control form-control-lg" id="phoneCode" asp-for="newUser.CountryCode" value="65">
                                                    <span asp-validation-for="newUser.CountryCode" class="text-danger"></span>
                                                </div>
                                                <div class="form-group" style="width:78%;">
                                                    <input type="text" asp-for="newUser.Phone" class="form-control form-control-lg" id="Phone" placeholder="PHONE NUMBER">
                                                    <span asp-validation-for="newUser.Phone" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                @Html.RadioButton("newUser.Gender", "Male", new { style = "margin-right:10px;" }) <span>Male</span>
                                                @Html.RadioButton("newUser.Gender", "Female", new { style = "margin:0 10px;" }) <span>Female</span>
                                                <span asp-validation-for="newUser.Gender" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <input asp-for="PatientRole.Nric" type="text" class="form-control form-control-lg" id="nric" placeholder="NRIC">
                                                <span asp-validation-for="PatientRole.Nric" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="PatientRole.EmergencyName" type="text" class="form-control form-control-lg" id="emergencyName" placeholder="EMERGENCY NAME">
                                                <span asp-validation-for="PatientRole.EmergencyName" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="form-group" style="width:20%;">
                                                    <input type="text" class="form-control form-control-lg" id="phoneCode" asp-for="PatientRole.CountryCode" value="65">
                                                    <span asp-validation-for="PatientRole.CountryCode" class="text-danger"></span>
                                                </div>
                                                <div class="form-group" style="width:76%;">
                                                    <input type="text" asp-for="PatientRole.EmergencyNum" class="form-control form-control-lg" id="Phone" placeholder="EMERGENCY PHONE NUMBER">
                                                    <span asp-validation-for="PatientRole.EmergencyNum" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.DropDownList("PatientRole.Relationship", new SelectList(Enum.GetValues(typeof(Models.RelationshipType))), "--Select Marital Status--", new { @class = "form-control form-control-lg" })
                                                <span asp-validation-for="PatientRole.Relationship" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <textarea asp-for="PatientRole.HomeAddr" class="form-control" id="homeAddress" placeholder="HOME ADDRESS"></textarea>
                                                <span asp-validation-for="PatientRole.HomeAddr" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-primary me-2 js-btn-prev">Cancel</button>

                                                <button type="submit" class="btn btn-success me-2">Submit</button>

                                            </div>
                                        </fieldset>

                                        <fieldset class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                                            @*<h4>Card Details (Optional)</h4>
                                            <h6 class="fw-light">Set as your primary payment information</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" id="CardName" placeholder="NAME ON CARD">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" id="CardNumber" placeholder="CARD NUMBER">
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="form-group" style="width:48%;">
                                                    <input type="text" class="form-control form-control-lg" id="ExpiryDate" placeholder="EXPIRY DATE">
                                                </div>
                                                <div class="form-group" style="width:48%;">
                                                    <input type="text" class="form-control form-control-lg" id="SecurityCode" placeholder="SECURITY CODE">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-primary me-2 js-btn-prev">Cancel</button>

                                                <button type="submit" class="btn btn-primary me-2">Submit</button>

                                            </div>*@
                                            <h4>Email Verification</h4>
                                            <h6 class="fw-light">A verification link has been sent to your email account</h6>
                                            <div class="form-group">
                                                Please click on the link that has just been sent to your email account to verify your email to be able to login
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-primary me-2 js-btn-prev">Cancel</button>

                                                <button type="button" class="btn btn-primary me-2">Submit</button>

                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                        

                    
                    

            </div>
        </div>
    </div>
</div>

<script>
    //DOM elements
    const DOMstrings = {
        stepsBtnClass: 'multisteps-form__progress-btn',
        stepsBtns: document.querySelectorAll(`.multisteps-form__progress-btn`),
        stepsCir: document.querySelectorAll(`.stepCircle`),
        stepsBar: document.querySelector('.multisteps-form__progress'),
        stepsForm: document.querySelector('.multisteps-form__form'),
        stepsFormTextareas: document.querySelectorAll('.multisteps-form__textarea'),
        stepFormPanelClass: 'multisteps-form__panel',
        stepFormPanels: document.querySelectorAll('.multisteps-form__panel'),
        stepPrevBtnClass: 'js-btn-prev',
        stepNextBtnClass: 'js-btn-next'
    }; //remove class from a set of items

    const removeClasses = (elemSet, className) => {
        elemSet.forEach(elem => {
            elem.classList.remove(className);
        });
        
    }; //return exect parent node of the element


    const findParent = (elem, parentClass) => {
        let currentNode = elem;

        while (!currentNode.classList.contains(parentClass)) {
            currentNode = currentNode.parentNode;
        }

        return currentNode;
    }; //get active button step number


    const getActiveStep = elem => {
        return Array.from(DOMstrings.stepsBtns).indexOf(elem);
    }; //set all steps before clicked (and clicked too) to active


    const setActiveStep = activeStepNum => {
        //remove active state from all the state
        removeClasses(DOMstrings.stepsBtns, 'js-active'); //set picked items to active

        DOMstrings.stepsCir.forEach(elem => {
            elem.classList.remove('js-active');
        });

        DOMstrings.stepsBtns.forEach((elem, index) => {
            if (index <= activeStepNum) {
                elem.classList.add('js-active');
            }
        });
        DOMstrings.stepsCir.forEach((elem, index) => {
            if (index <= activeStepNum) {
                elem.classList.add('js-active');
            }
        });
    }; //get active panel


    const getActivePanel = () => {
        let activePanel;
        DOMstrings.stepFormPanels.forEach(elem => {
            if (elem.classList.contains('js-active')) {
                activePanel = elem;
            }
        });
        return activePanel;
    }; //open active panel (and close unactive panels)


    const setActivePanel = activePanelNum => {
        //remove active class from all the panels
        removeClasses(DOMstrings.stepFormPanels, 'js-active'); //show active panel

        DOMstrings.stepFormPanels.forEach((elem, index) => {
            if (index === activePanelNum) {
                elem.classList.add('js-active');
                setFormHeight(elem);
            }
        });
    }; //set form height equal to current panel height


    const formHeight = activePanel => {
        const activePanelHeight = activePanel.offsetHeight;
        DOMstrings.stepsForm.style.height = `${activePanelHeight}px`;
    };

    const setFormHeight = () => {
        const activePanel = getActivePanel();
        formHeight(activePanel);
    }; //STEPS BAR CLICK FUNCTION


    DOMstrings.stepsBar.addEventListener('click', e => {
        //check if click target is a step button
        const eventTarget = e.target;

        if (!eventTarget.classList.contains(`${DOMstrings.stepsBtnClass}`)) {
            return;
        } //get active button step number


        const activeStep = getActiveStep(eventTarget); //set all steps before clicked (and clicked too) to active

        setActiveStep(activeStep); //open active panel

        setActivePanel(activeStep);
    }); //PREV/NEXT BTNS CLICK

    DOMstrings.stepsForm.addEventListener('click', e => {
        const eventTarget = e.target; //check if we clicked on `PREV` or NEXT` buttons

        if (!(eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`) || eventTarget.classList.contains(`${DOMstrings.stepNextBtnClass}`))) {
            return;
        } //find active panel


        const activePanel = findParent(eventTarget, `${DOMstrings.stepFormPanelClass}`);
        let activePanelNum = Array.from(DOMstrings.stepFormPanels).indexOf(activePanel); //set active step and active panel onclick

        if (eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`)) {
            activePanelNum--;
        } else {
            activePanelNum++;
        }

        setActiveStep(activePanelNum);
        setActivePanel(activePanelNum);
    }); //SETTING PROPER FORM HEIGHT ONLOAD

    window.addEventListener('load', setFormHeight, false); //SETTING PROPER FORM HEIGHT ONRESIZE

    window.addEventListener('resize', setFormHeight, false); //changing animation via animation select !!!YOU DON'T NEED THIS CODE (if you want to change animation type, just change form panels data-attr)

    const setAnimationType = newType => {
        DOMstrings.stepFormPanels.forEach(elem => {
            elem.dataset.animation = newType;
        });
    }; //selector onchange - changing animation


    const animationSelect = document.querySelector('.pick-animation__select');
    animationSelect.addEventListener('change', () => {
        const newAnimationType = animationSelect.value;
        setAnimationType(newAnimationType);
    });
</script>