@page
@model Elderson.Pages.DRR.ConsultationModel
@{
    Layout = "Shared/_LayoutOrganization";
    ViewData["Title"] = "Consultation Booking";
    ViewData["Breadcrumb"] = "Elderson > Consultation";
    ViewData["Header"] = "Consultation Booking";
}

<style>
    a {
        color: white;
        text-decoration: none;
    }

    .dropdown-toggle::after {
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("Loading webpage...")
        $.ajax({
            url: 'https://localhost:44311/api/Schedule/GetAllBookings/' + '@Model.doctorid',
            type: 'GET',
            success: function (result) {
                console.log("Items retrieve successfully")
                console.log(JSON.parse(result));

            }
        });
        $('#constable').DataTable(
            {
                "ajax": {
                    'url': 'https://localhost:44311/api/Schedule/GetAllBookings/' + '@Model.doctorid',
                    'type': 'GET',
                    "dataSrc": function (json) {
                        return JSON.parse(JSON.stringify(json));
                    }
                },
                "columns": [
                    { "data": "PatientName" },
                    { "data": "date" },
                    { "data": "time" },
                    {
                        "data": function (data) {
                            if (data.Status == "c") {
                                return "Consulted";
                            }
                            else {
                                return "Not Consulted";
                            }
                         }
                    },
                    {
                        "data": function (data, type, full) {
                            var formDD = `<a class="dropdown-item" href="/DRR/FormSelect?id=${data.Id}">Prescription</a>`;
                            var chatDD = `<a class="dropdown-item" href="/DRR/Call?id=${encodeURIComponent(data.Id)}">Join Call</a>`

                            var dropdown;

                            if (data.Status == "c") {
                                dropdown = formDD;
                            }
                            else {
                                dropdown = chatDD;
                            }

                            return `<div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id=${"dropdownMenuSplitButton" + data.Id} data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i style="font-size:1.5em;" class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby=${"dropdownMenuSplitButton" + data.Id}>
                                                <a class="dropdown-item" href="/DRR/ViewDetails?id=${data.Id}">View Details</a>
                                                ${dropdown}
                                                </div>
                                            </div>
<div class="modal fade" id=${"staticBackdrop" + data.Id} data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="text-center">
                                                    <h4>
                                                        Are you sure you want to delete this user?

                                                    </h4>
                                                </div>
                                                <div class="d-flex justify-content-between" style="margin-top:30px;">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" onclick=${"deleteUser(" + "'" + data.Id + "'" + ")"} class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                        }
                    }
                ],
                "info": true,
                "ordering": true,
                "search": false,
                "processing": true,
                'autoWidth': false,
                'lengthChange': false,
                'paging': true,
                'pagingType': 'numbers',
                'ordering': false,
                'dom': "fltip",
                'pageLength': 5
            }
        );
    });
</script>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
            <h4 class="card-title">All Consultation</h4>

        </div>
        <div class="table-responsive">

            <table class="table table-hover" id="constable" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th style="width:20%;">Time</th>
                        <th>Status</th>
                        <th style="width:175px;">ACTION</th>

                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>



<script>

    function deleteUser(userId) {
        $.ajax({
            url: 'https://localhost:44311/api/User/' + userId,
            type: 'DELETE',
            success: function (result) {
                console.log("Item delete successfully")
            }
        });
    }
</script>
