@page
@model Elderson.Pages.DRR.CustomFormModel
@{
    Layout = "Shared/_LayoutDoctor";
    ViewData["Title"] = "Custom HM Form";
    ViewData["Breadcrumb"] = "Elderson > Form > HM Form";
    ViewData["Header"] = "Health and Medication (HM) Custom Form";
}

<div class="customForm">
    <form method="post">
        <p>Template Name:</p>
        
    </form>
</div>
