@page
@model Elderson.Pages.DRR.EditFormModel
@{
    Layout = "Shared/_LayoutDoctor";
    ViewData["Title"] = "Edit Template Form";
    ViewData["Breadcrumb"] = "Elderson > Form > Edit Form";
    ViewData["Header"] = "Edit Template Form";
}

<style>
    .customForm-input {
        width: 100%;
    }

    #btnContainer {
        margin-top: 50%;
    }

    #submitBtn {
        float: right;
    }
</style>

<div class="customForm">
    <form method="post">
        <p>Template Name:</p>
        <input asp-for="editForm.TemplateName" class="customForm-input" />
        <input asp-for="editForm.Id" type="hidden" />
        <input asp-for="editForm.DoctorId" type="hidden" />
        <input asp-for="editForm.BookingId" type="hidden" />
        <br />
        <div id="btnContainer">
            <div><a asp-page="/DRR/Form" class="btn btn-primary">Back</a></div>
            <button id="submitBtn" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>