@page
@model Elderson.Pages.DRR.PrescriptionModel
@{
    Layout = "Shared/_LayoutOrganization";
    ViewData["Title"] = "Prescription";
    ViewData["Breadcrumb"] = "Elderson > Consultation > Form > Prescription";
    ViewData["Header"] = "Health and Medication (HM) Prescription";
}

<style>
    .customForm-input {
        width: 100%;
    }

    #btnContainer {
        margin-top: 10%;
    }

    #submitBtn {
        float: right;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    #formtable_wrapper {
        width: 70%;
        margin: 0 auto;
        padding: 5%;
        background-color: seashell;
    }

    #formtable {
        width: 70%;
        margin: 0 auto;
    }


    #medtable_filter {
        display: none;
    }

    .medBtn {
        cursor: pointer;
    }

    #quanDiv {
        display: none;
        margin: 0 auto;
        padding-bottom: 2%;
        width: 70%;
        background-color: seashell;
        padding-left: 5%;
        padding-right: 5%;
    }

    #formtable_info {
        display: none;
    }

    #formtable_paginate {
        float: right;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<form method="post">
    <input type="hidden" asp-for="currentform_id" id="newformid" />
    <input type="hidden" asp-for="booking_id" />
    <input type="hidden" asp-for="booking.PatientID" />
    <div>
        <p><h3>Patient Name</h3></p>
        <input asp-for="patientuser.Fullname" class="customForm-input" readonly />
        <p><h3>Patient's Symptom</h3></p>
        <input asp-for="booking.Symptoms" class="customForm-input" />
    </div>

    <div class="addMeds" id="addMeds">
        <p style="margin-top:1%;">
            <h3>Medication Needed:    <i class="medBtn fa fa-plus-circle fa-lg" id="plus" onclick="displayAddMeds()"></i><i class="medBtn fa fa-minus-circle fa-lg" id="minus" onclick="closeAddMeds()"></i></h3>
        </p>
        <div class="table-responsive" id="allMeds">
            <table class="table table-hover" id="formtable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width:175px;">Medicine Type</th>
                        <th>Allergy</th>
                        <th></th>
                    </tr>
                </thead>
            </table>

            <h3 style="text-align:center; background-color: seashell; width: 70%; margin: 0 auto; padding-bottom: 3%;">Quantity: </h3>
            <div id="quanDiv">
                <label id="medicinename" style="width: 35%;"></label>
                <div class="input-group" ">
                    <i class="medBtn fa fa-minus-square fa-2x" onclick="reduce()"></i> <input type="number" class="quantity" id="quantity" value="0" step="0" min="0" max="20" readonly style="width:70%;text-align:center; height: 80%;"> <i class="medBtn fa fa-plus-square fa-2x" onclick="add()"></i>
                </div>
                <input type="hidden" id="medid" />
                <a onclick="addMedication()" class="btn btn-primary" style="color:white; float:left;">Confirm</a>
            </div>
        </div>

        <div class="table-responsive" id="addedMeds">
            <table class="table table-hover" id="medtable" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width:20%;">Quantity</th>
                        <th style="width:175px;">Medicine Type</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="btnContainer">
        <div><a href="/DRR/Consultation" class="btn btn-danger">Back</a></div>
        <button id="submitBtn" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    var allMed = document.getElementById("allMeds");
    allMed.style.display = "none";
    document.getElementById("minus").style.display = "none";

    function callquanDiv(id, medname) {
        document.getElementById("medid").value = id;
        document.getElementById("medicinename").innerHTML = medname;
        document.getElementById("quanDiv").style.display = "flex";
    }

    callMedsTable();

    function callMedsTable() {
        $(document).ready(function () {
            console.log("Loading webpage...")
            $.ajax({
                url: 'https://localhost:44311/api/FormMeds/' + document.getElementById("newformid").value,
                type: 'GET',
                success: function (result) {
                    console.log("Items retrieve successfully")
                    console.log(JSON.parse(result));

                }
            });
            $('#medtable').DataTable(
                {
                    "ajax": {
                        'url': 'https://localhost:44311/api/FormMeds/' + document.getElementById("newformid").value,
                        'type': 'GET',
                        "dataSrc": function (json) {
                            return JSON.parse(JSON.stringify(json));
                        }
                    },
                    "columns": [
                        { "data": "MedName" },
                        { "data": "Quantity" },
                        { "data": "MedType" },
                        {
                            "data": function (data) {
                                return `
                                <a onclick="deleteMedication('${data.Id}')" class="btn btn-danger">Delete</a>
                            `;
                            }
                        }
                    ],
                    "info": true,
                    "ordering": true,
                    "search": false,
                    "processing": true,
                    'autoWidth': false,
                    'lengthChange': false,
                    'paging': true,
                    'pagingType': 'numbers',
                    'ordering': false,
                    'dom': "fltip",
                    'pageLength': 5
                }
            );
        });
    }

    $(document).ready(function () {
        console.log("Loading webpage...")
        $.ajax({
            url: 'https://localhost:44311/api/FormMeds/GetInvMeds',
            type: 'GET',
            success: function (result) {
                console.log("Items retrieve successfully")
                console.log(JSON.parse(result));

            }
        });
        $('#formtable').DataTable(
            {
                "ajax": {
                    'url': 'https://localhost:44311/api/FormMeds/GetInvMeds',
                    'type': 'GET',
                    "dataSrc": function (json) {
                        return JSON.parse(JSON.stringify(json));
                    }
                },
                "columns": [
                    { "data": "MedName" },
                    { "data": "MedType" },
                    { "data": "MedAllergyIngredients" },
                    {
                        "data": function (data) {
                            return `
                                <a onclick="callquanDiv('${data.Id}', '${data.MedName}')" class="btn btn-primary" style="color:white">Select</a>
                            `;
                        }
                    }
                ],
                "info": true,
                "ordering": true,
                "search": false,
                "processing": true,
                'autoWidth': false,
                'lengthChange': false,
                'paging': true,
                'pagingType': 'numbers',
                'ordering': false,
                'dom': "fltip",
                'pageLength': 5
            }
        );
    });

    function displayAddMeds() {
        allMed.style.display = "block";
        document.getElementById("minus").style.display = "inline";
        document.getElementById("plus").style.display = "none";


    }

    function closeAddMeds() {
        allMed.style.display = "none";
        document.getElementById("minus").style.display = "none";
        document.getElementById("plus").style.display = "inline";
    }

    function add() {
        document.getElementById("quantity").stepUp();
    }

    function reduce() {
        document.getElementById("quantity").stepDown();
    }

    function addMedication() {
        var id = document.getElementById("medid").value;
        var uuidVal = document.getElementById("newformid").value;
        var quantity = document.getElementById("quantity").value;
        if (quantity < 1) {
            alert("Please add quantity of medicine")
        }
        else {
            $.ajax({
                url: 'https://localhost:44311/api/FormMeds/' + id + '/' + uuidVal + '/' + quantity,
                type: 'POST',
                success: function (result) {
                    console.log("Item added successfully");
                    $('#medtable').DataTable().ajax.reload();
                }
            });
        }
    }

    function deleteMedication(id) {
        $.ajax({
            url: 'https://localhost:44311/api/FormMeds/' + id,
            type: 'DELETE',
            success: function (result) {
                console.log("Item deleted successfully");
                $('#medtable').DataTable().ajax.reload();
            }
        });
    }
</script>





